<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kontakti</title>
    <link rel = "icon" href ="https://cdn-icons-png.flaticon.com/512/831/831311.png?w=740">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >

    <style>
        {{ source('styles.css') }}

        .about-us-text {
            padding: 100px 0;
            font-size: 40px;
        }

        .desc {
            font-size: 20px;
        }

        .title {
            font-weight: bold;
            display: flex;
            margin-left: 0;
        }
    </style>

</head>
<body>

<header>
    <div class="container">
        <div class="row middle-xs">
            <div class="col-xs-2">
                <a href="http://localhost:8080">
                    <img class="logo" src="https://cdn-icons-png.flaticon.com/512/831/831311.png?w=740" alt="logo">
                </a>
            </div>

            <div class="col-xs-10">

                <div class="row">
                    <div class="col-xs-12">
                        <nav class="nav">
                            <a href="http://localhost:8080/bizness" class="nav_item">
                                Bizness
                            </a>

                            <a href="http://localhost:8080/sports" class="nav_item">
                                Sports
                            </a>

                            <a href="http://localhost:8080/izklaide" class="nav_item">
                                Izklaide
                            </a>

                            <a href="http://localhost:8080/tehnologijas" class="nav_item">
                                Tehnoloģijas
                            </a>

                            <a href="http://localhost:8080/par-mums" class="nav_item">
                                Par mums
                            </a>

                            <a href="http://localhost:8080/kontakti" class="nav_item">
                                Kontakti
                            </a>

                            <a href="http://localhost:8080/lietotaja-raksti/pievieno-rakstu" class="nav_item">
                                Pievieno rakstu
                            </a>

                            <a href="http://localhost:8080/lietotaja-raksti" class="nav_item">
                                Lietotāju raksti
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row middle-xs">
            <div class="col-xs-2"></div>
            <div class="col-xs-10">
                <div class="about-us-text">
                    <span class="title">Kontakti</span><br>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4352.279065207773!2d24.11263364008215!3d56.946410642144805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eecfd4d1c236e3%3A0x38d769786a660bd4!2zUsSrZ2FzIENlbnRyxIFsdGlyZ3Vz!5e0!3m2!1slv!2slv!4v1658758110558!5m2!1slv!2slv" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><br>
                    <span class="desc">AS ZIŅAS</span><br>
                    <span class="desc">Piemēra iela 4-8, Rīga, LV-1004</span><br>
                    <span class="desc">+371 12345678</span><br>
                    <span class="desc">piemers@zinas.lv</span><br>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row center-xs">
            <div class="col-xs-12">
                <div class="footer">
                    <span class="footer__item">AS ZIŅAS</span>
                    <span class="footer__item">Piemēra iela 4-8, Rīga, LV-1004</span>
                    <span class="footer__item">+371 12345678</span>
                    <span class="footer__item">piemers@zinas.lv</span>
                </div>

                <div class="copyright">
                    <div class="container">
                        <div class="row center-xs">
                            <div class="col-xs-12">
                                <span class="copyright_desc">Izstrādāja: Jānis Šņoriņš</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>


</body>
</html>